{
  "presets": [
    ["es2015", { "modules": false}],
    "stage-0",
    "react",
    "flow"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "ramda"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
