{
  "presets": [
    ["es2015", { "modules": false}],
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
      "presets": [
        [ "es2015", { "modules": false } ]
      ]
    },
    "development": {
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
