{
  "extends": "airbnb-base",
  "plugins": ["jest"],
  "rules": {
    "indent": ["error", 2, {SwitchCase: 1}],
    "quotes": ["error", "single", {"allowTemplateLiterals": true}],
    "semi": ["error", "never"],
    "no-case-declarations": 2
  },
  "env": {
    "jest": true
  }
}
